<style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300;400;600;800&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

</style>* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



.

/* nav section */

.p-color {
    color: #FF42A5;
}

.nav {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.site-width {
    margin: 0 auto;
    width: 1440px;

}

.p-color {
    color: #FF42A5;
}

.logo h2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.logo,
.menu {
    display: flex;
    align-items: center;


}

.logo-img {
    padding-right: 20px;
}

.menu li {
    list-style-type: none;
    padding-right: 50px;
}

.follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 30px;
    border-radius: 10px;
    border: none;
}

i {
    padding: 0px 10px;
    font-size: 15px;
}

.fa-solid {
    color: red;
}

.header-container {

    width: 100%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);


}

/* banner-area */


.banner-content {
    width: 100%;
    margin: 50px;
    width: auto;
    display: flex;
    flex-direction: column;


    justify-content: center;
}

.banner-content p {

    margin: 10px 0px;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    margin: 20px 0px;
}

.h1-primary {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    font-feature-settings: ;
    margin-bottom: 0px;
    margin-top: 0;
}

.btn {
    display: flex;
    gap: 20px;
}

.btn-primary {
    color: white;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
}

.btn-secondary {
    background-color: #4EC5F7;
    color: white;
}
.banner-container{
    height: 600px;
    background-image: url('../images/Group 14.png');
    background-position: left;
    background-repeat: no-repeat;

}
.banner-container,
.we-gamer-container {
    
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.banner-img {
    width: auto;
    display: flex;


}



.gamer-content p {
    color: #534C64;

    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
}

.we-are-gamer {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-content {
    text-align: right;
}

.we-gamer-container {
    align-items: center;

}

.gamer-content h1 {
    margin: 0;
}

.gamer-img {
    display: flex;
    flex-direction: column;
}

.gamer-btn {
    color: white;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
    width: 50%;

}

.gamer-h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.unleash {
    color: #534C64;
    font-family: Work Sans;
    font-size: 60px;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.unleash {
    color: #534C64;
    font-family: Work Sans;
    margin: 10px 0px
}

.funny-videos {
    text-align: center;
}

.image-hover-main {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.image-one {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;

}


.f-content {
    margin: 40px 0px;
}


.hover-content {
    color: white;
    border-radius: 20px;
    width: auto;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease .3s;


}

.hover-content:hover {
    opacity: 1;
}

.funny-content {
    display: flex;
    gap: 20px;
}

.funny-content-one {
    text-align: left;
    width: 100%;
    padding: 20px 20px 20px 0px;
}

/* instant section */

.instant-contents {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instant-text {
    width: 35%;
}

.instant-container {
    margin-bottom: 200px;
}

.instant-img {}

.large-img {}

.small-img-one {
    width: 300px;
}

.small-img {

    position: relative;
    margin: -150px;
}



/* Careers */
.career-section {
    background-color: #FF42A5;
    width: 100%;
}

.career-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-h1 {
    color: white;


}

.career-text {}

.career-text p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    font-family: sans-serif;
}

.experties {
    justify-content: space-between;
    display: flex;
    color: white;
}

.experties li {
    list-style: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.experties-two {
    text-align: right;

}

.career-img {
    width: 100%;
}

.btn-white {
    background-color: white;
    color: #FF42A5;
}

/* games-types */


.game-types {

    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.game-name {

    background-color: white;
    display: flex;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;

    justify-content: center;



}

.game-name p {
    padding-left: 20px;
}

.all-games {
    background-color: #FFF9FC;
    width: 100%;
}

.game-name:hover {

    border: 1px solid #FF55AE;
}

/* footer */
.footer-container {
    background-color: #0B0223;
    width: 100%;
}

.game-types-container {
    height: 420px;

}

.footer-cont {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container li {
    list-style: none;
    display: inline;
    padding: 20px;
}

.nav-menu,
.social-icon,
.policies {
    margin: 30px;
}

.footer-cont i {
    font-size: 2em;
}


.footer-cont p {
    margin-bottom: 50px;
}



@media screen and (max-width:476px){
    *{margin: 0;
        padding:0}
   
    .nav{
        width: 476px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-container {

        height:100%;
        max-width: 476px;
        box-shadow: none;
    
    
    }
    .menu{
               max-width: 476px;
        flex-direction: column;

    }
    .menu li{
        padding: 20px 0px;
    }

    .banner-container{
        background-image: none;
        flex-direction: column-reverse;
        height: 100%;
        max-width: 476px;
        justify-content: center;
    }
    .banner-content{
        height: 100%;
        max-width: 476px;
        justify-content: center;

    }


    .banner-img{
        width: 100%;
        margin: 0 auto;
    }
    .we-gamer-container {
        max-width: 476px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }
    .we-are-gamer{

    align-items: center;margin: 20px 0px;
    }
    .gamer-content{
        text-align: center;
    }

    .image-hover-main{
        max-width: 476px;
        display: flex;
        flex-direction: column;
    
    }
    .funny-content{
        display: none;
    }  
    .f-content{
        text-align: center;
        max-width: 476px;
    }
    .funny-videos{text-align: center;
    }
    .instant-contents,.career-container{
        height: 100%;
       max-width: 476px;
        text-align: center;
        flex-direction: column;
    }
        .c-img img{
            width: 100%;
        }
        .game-types
            {
                flex-direction: column;
                width: 476px;
            }
       
        .all-games{

        }
        .footer-cont{
            height: 100%;
            max-width: 476px;



        }
        .game-types-container,.footer-container{
            height: 100%;
            max-width:476px;
        }

        .nav-menu,.social-icon{
            width: 476px;
            display: grid;
            grid-template-columns: repeat(3, 3fr);
           
     
        }
        .policies{
            display: grid;
            grid-template-columns: repeat(2, 60px);
      


                }
                .footer-cont p{
                    width: 476px;
                }
}